/*
style of login page
created by daeun yoo on 2023.05.02
*/

@charset "UTF-8";

.login{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
 border-bottom: 3px solid black;
}

.login_wrap{
	box-sizing: border-box;
	padding: 1px;
	width: 300px;
	background: light grey;
}

.id_pw_wrap{
	display: block;
	box-sizing: border-box;
}

.btn_login_wrap{
	margin-left: auto;
	margin-right: auto;
}