/*
style of login page
created by daeun yoo on 2023.05.02
*/

@charset "UTF-8";

.login{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
 border-bottom: 3px solid black;
}

.login_wrap{
	box-sizing: border-box;
	border: 2px solid #00ff00;
	width: 500px;
	background: white;
	margin-left: auto;
	margin-right: auto;
}

.id_pw_wrap{
	box-sizing: border-box;
	padding: 10px;
	margin-right: auto;
}

label{
	display: block;
	color: black;
}
.input_text{
	width:400px; 
	height:25px;
}

.btn_login_wrap{
	margin-right: auto;
	padding: 13px;
}

.btn_login{
	border: 2px solid #000;
  	width: 400px;
  	background: #00ff00;
  	cursor: pointer;
  	display: inline-block;
}

.btn_text{
	color: white;
}